

  
   
 
                  <div class="col-md-7 d-flex flex-center">
                    <div class="p-4 p-md-5 flex-grow-1">
                      <div class="row flex-between-center">
                        <div class="col-auto">
                          <h3>Student Account Login</h3>
                        </div>
                      </div>
                      <form>
                        <div class="mb-3">
                          <label class="form-label" for="card-email">Student FullName</label>
                          <input class="form-control" id="card-email" type="text" />
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between">
                            <label class="form-label" for="card-password">Student Number</label>
                          </div>
                          <input class="form-control" id="card-password" type="text" />
                        </div>
                        </form>
                                
              